![](5.png)

# Business Problem

Impact of Strategies over Sales, Calculating the sales based on different strategies. Improving of Sales atleast by 15% from current Quarter.

# ML Problem

Approach-1: Based on the data calculating sales is related to regression problem due to continuous parameter with output.
Approach-2: We can see Time based column called months, we can forecast the sales as well based on different strategies over a period of time

In [30]:
import pandas as pd
import numpy as np

In [2]:
cd Downloads

/Users/kantha/Downloads

In [3]:
drug = pd.read_csv('data_drug.csv')

In [4]:
drug.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2976 entries, 0 to 2975
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   2976 non-null   int64
 1   accID        2976 non-null   object
 2   accType      2976 non-null   object
 3   accSize      2976 non-null   int64
 4   accTargets   2976 non-null   int64
 5   district     2976 non-null   int64
 6   month        2976 non-null   object
 7   sales        2976 non-null   int64
 8   qty          2976 non-null   int64
 9   strategy1    2976 non-null   float64
 10  strategy2    2976 non-null   float64
 11  strategy3    2976 non-null   float64
 12  salesVisit1  2976 non-null   float64
 13  salesVisit2  2976 non-null   float64
 14  salesVisit3  2976 non-null   float64
 15  salesVisit4  2976 non-null   float64
 16  salesVisit5  2976 non-null   float64
 17  compBrand    2976 non-null   int64
dtypes: float64(8), int64(7), object(3)
memory usage: 418.6+ KB

In [5]:
drug.head()

,Unnamed: 0,accID,accType,accSize,accTargets,district,month,sales,qty,strategy1,strategy2,strategy3,salesVisit1,salesVisit2,salesVisit3,salesVisit4,salesVisit5,compBrand
0,1,XYZ-987002,Pharmacy,700,25,3,2013-10-01,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
1,2,XYZ-987002,Pharmacy,700,25,3,2013-11-01,852365,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,75000.0,4
2,3,XYZ-987002,Pharmacy,700,25,3,2013-12-01,2557096,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
3,4,XYZ-987002,Pharmacy,700,25,3,2014-01-01,4261826,41,0.0,0.0,0.0,0.0,825000.0,300000.0,0.0,0.0,4
4,5,XYZ-987002,Pharmacy,700,25,3,2014-02-01,5966556,57,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4

In [7]:
drug.columns

Index(['Unnamed: 0', 'accID', 'accType', 'accSize', 'accTargets', 'district',
       'month', 'sales', 'qty', 'strategy1', 'strategy2', 'strategy3',
       'salesVisit1', 'salesVisit2', 'salesVisit3', 'salesVisit4',
       'salesVisit5', 'compBrand'],
      dtype='object')

In [8]:
del drug['Unnamed: 0']

In [9]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [10]:
drug['accType'] = le.fit_transform(drug['accType'])

In [11]:
drug['accType'].unique()

array([1, 0, 2, 3])

In [12]:
del drug['month']

In [14]:
del drug['accID']

In [15]:
drug.head()

,accType,accSize,accTargets,district,sales,qty,strategy1,strategy2,strategy3,salesVisit1,salesVisit2,salesVisit3,salesVisit4,salesVisit5,compBrand
0,1,700,25,3,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
1,1,700,25,3,852365,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,75000.0,4
2,1,700,25,3,2557096,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
3,1,700,25,3,4261826,41,0.0,0.0,0.0,0.0,825000.0,300000.0,0.0,0.0,4
4,1,700,25,3,5966556,57,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4

# Identify the Inputs/Features & Output

In [16]:
y = drug.iloc[:,4]

In [17]:
y.head()

0          0
1     852365
2    2557096
3    4261826
4    5966556
Name: sales, dtype: int64

In [19]:
X = drug.iloc[:,:]
del X['sales']

In [20]:
X.head()

,accType,accSize,accTargets,district,qty,strategy1,strategy2,strategy3,salesVisit1,salesVisit2,salesVisit3,salesVisit4,salesVisit5,compBrand
0,1,700,25,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
1,1,700,25,3,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,75000.0,4
2,1,700,25,3,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
3,1,700,25,3,41,0.0,0.0,0.0,0.0,825000.0,300000.0,0.0,0.0,4
4,1,700,25,3,57,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4

# Create Samples for Training & Testing

In [96]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X_f,y, test_size = 0.2, random_state = 1234)

In [97]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(2380, 10)
(2380,)
(596, 10)
(596,)

In [98]:
X_train.head()

,district,qty,strategy1,strategy2,strategy3,salesVisit1,salesVisit2,salesVisit3,salesVisit4,salesVisit5
2450,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2375,3,16,0.0,2212800.0,0.0,0.0,450000.0,225000.0,0.0,0.0
2525,3,0,992556.0,1607224.0,0.0,0.0,0.0,6075000.0,0.0,0.0
2389,3,0,0.0,0.0,0.0,0.0,150000.0,0.0,0.0,0.0
927,3,0,0.0,0.0,0.0,0.0,300000.0,0.0,0.0,0.0

# Model Building/Training

In [38]:
from sklearn import linear_model #Parametric Model
from sklearn.tree import DecisionTreeRegressor #Non-Parametric Model

In [100]:
#Training
#regr = linear_model.LinearRegression()
regr = DecisionTreeRegressor()

In [101]:
regr.fit(X_train, y_train)

DecisionTreeRegressor()

In [102]:
# The coefficients
print('Coefficients', regr.coef_)
print('Intercept',regr.intercept_)

AttributeError: 'DecisionTreeRegressor' object has no attribute 'coef_'

# Model Evaluation Stage/Testing

In [103]:
expected = y_test

In [104]:
y_pred = regr.predict(X_test)

In [107]:
#Evaluation
from sklearn.metrics import mean_squared_error, r2_score
print(r2_score(expected, y_pred)) #Coefficient of Determination
mean_squared_error(expected, y_pred)

0.9953550913070252

296310230548.0219

# Accuracy Improving Techniques

1. Change in Features 
2. Change in Algorithms/Change in math
3. Change in Sample

# 1. Change in Features

In [31]:
#Feature Selection/Engineering
X.head()

,accType,accSize,accTargets,district,qty,strategy1,strategy2,strategy3,salesVisit1,salesVisit2,salesVisit3,salesVisit4,salesVisit5,compBrand
0,1,700,25,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
1,1,700,25,3,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,75000.0,4
2,1,700,25,3,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
3,1,700,25,3,41,0.0,0.0,0.0,0.0,825000.0,300000.0,0.0,0.0,4
4,1,700,25,3,57,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4

In [53]:
X_f = X.iloc[:,3:13]
X_f.head()

,district,qty,strategy1,strategy2,strategy3,salesVisit1,salesVisit2,salesVisit3,salesVisit4,salesVisit5
0,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,75000.0
2,3,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,41,0.0,0.0,0.0,0.0,825000.0,300000.0,0.0,0.0
4,3,57,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
from sklearn.preprocessing import Normalizer
#fit command maintainss the equation structure
n = Normalizer().fit_transform(data_df)

# 2. Change in Algorithm/Change in Math(Includes Hyperparameter tuning)

# 3. Change in Sample(Includes even Monitoring/Cross Validation)

In [106]:
from sklearn.model_selection import cross_val_score 
accuracies = cross_val_score(estimator = regr, X = X,\
     y = y, cv = 20)
print("Accuracy Mean {} Accuracy Variance \
     {}".format(accuracies.mean(),accuracies.std()))

Accuracy Mean 0.9919468226618757 Accuracy Variance      0.011999031608541348